body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

h1 {
    margin-bottom: 20px;
}

#upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin-top: 10px;
}
